<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright© 2010 Cristian Vrabie, Evelina Petronela Vrabie
  ~
  ~ This file is part of Affected.
  ~
  ~ Affected is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Lesser General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Affected is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with Affected.  If not, see <http://www.gnu.org/licenses/>.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="managerPool" class="org.codeandmagic.affected.svn.svnkit.SvnKitManagerPool" init-method="init"/>

    <bean id=" projectProcessor" class="org.codeandmagic.affected.svn.svnkit.SvnKitProjectProcessor">
        <property name="changeChecker" ref="changeChecker"/>
        <property name="fileContentRetriever" ref="fileContentRetriever"/>
        <property name="fileTypeChecker" ref="fileTypeChecker"/>
        <property name="versionChecker" ref="versionChecker"/>
        <property name="tagScanner" ref="tagScanner"/>
        <!-- the service property is autowired -->
    </bean>

    <bean id="changeChecker" class="org.codeandmagic.affected.svn.svnkit.SvnKitPathChangeChecker">
        <property name="managerPool" ref="managerPool"/>
    </bean>

    <bean id="fileContentRetriever" class="org.codeandmagic.affected.svn.svnkit.SvnKitFileContentRetriever">
        <property name="managerPool" ref="managerPool"/>
    </bean>

    <bean id="fileTypeChecker" class="org.codeandmagic.affected.svn.svnkit.SvnKitFileTypeChecker">
        <property name="managerPool" ref="managerPool"/>
    </bean>

    <bean id="versionChecker" class="org.codeandmagic.affected.svn.svnkit.SvnKitVersionChecker">
        <property name="managerPool" ref="managerPool"/>
    </bean>

    <bean id="tagScanner" class="org.codeandmagic.affected.scanner.impl.SimpleTagScanner"/>
</beans>