<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <title>Affected</title>
</head>
<body>
  <h2>Svn Projects</h2>
  <ul>
  	#foreach($p in $projects)
  	  <ol>
  	    <b>Project $Display.capitalize($p.name)</b> - 
  	    <a href="svnproject/view.do?id=$p.id">View components</a> - 
  	    <a href="svnproject/edit.do?id=$p.id">Edit</a> -
  	    <a href="svnproject/delete.do?id=$p.id">Delete</a> -
		<a href="svnproject/process.do?id=$p.id">Process</a>
  	  </ol>
  	#end
  </ul>
  <hr />
  <a href="svnproject/create.do">Create a new project</a>
</body>
</html>